#fields_table{
    position: absolute;
    top: 6%;
    left:0%;
}

#labs_table{
    position: absolute;
    top: 6%;
    left:28%;
}

#consumables_materials_table{
    position: absolute;
    top: 55%;
    left:0%;
}

#short_term_materials_table{
    position: absolute;
    top: 55%;
    left:28%;
}

#long_term_materials_table{
    position: absolute;
    top: 55%;
    left:57%;
}

#labs_roles_academic_year{
    position: absolute;
    top: 6%;
    left:57%;
}

#fields_roles_table{
    position: absolute;
    top: 10%;
    left:57%;
}

#labs_roles_table{
    position: absolute;
    top: 25%;
    left:57%;
}