#top_menu{
    font-family: Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: rgb(254, 254, 255);
    display: flex;
    justify-content: space-between;
    position: absolute;
    height: 6%;
    width: 100%;
    background-color: rgb(50, 54, 57);
    top: 0px;
    left: 0px;
    /* border: 1px rgb(223, 11, 11) solid; */
}

#top_left_menu{
    display: flex;
    position: absolute;
    height: 6vh;
    width: 75vw;
    /* border: 1px black solid; */
}

#top_right_menu{
    display: flex;
    position: absolute;
    height: 6%;
    width: 25%;
    top: 0px;
    left: 75%;
}

.box-left{
    display: flex;
    background-color: rgb(50, 54, 57);
    flex-basis: 45%;
    height: 6vh;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#username{
    display: flex;
    background-color: rgb(50, 54, 57);
    flex-basis: 75%;
    height: 6vh;
    align-items: center;
    justify-content: right;
}

#logout{
    display: flex;
    background-color: rgb(50, 54, 57);
    flex-basis: 25%;
    height: 6vh;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: rgb(255, 0, 51)
}

.box-left:hover,
#logout:hover{
    background-color: rgb(82, 86, 89);
}

.jqx-grid {
    border-style: none !important;
    border-width: 0px !important;
}