  body {
    font-family: Arial, sans-serif;
  }

  h1 {
    text-align: center;
    color: #333333;
  }

  label{
    margin-right: 6px;
  }
  #invoice_form {
    position: absolute;
    width: 50%;
    height: 91%;
    top: 9%;
    border-right: 1px solid #cccccc;
  }
  #academic_year{
    position: absolute;
    height: 35px;
    left: 105px;
  }

  #academic-year-form-group {
    position: absolute;
    display: flex;
    align-items: center;
    left: 2%;
  }

  #invoice-form-group{
    position: absolute;
    display: flex;
    align-items: center;
    left: 2%;
    top: 7%;
  }
  #invoice_select{
    position: absolute;
    height: 35px;
    left: 105px;
    width: 530%;
    /* top: 10% !important; */
  }

  #invoice-no-date-form-group{
    position: absolute;
    display: flex;
    align-items: center;
    left: 2%;
    top: 13%;
    width: 90%;
    /* border: 1px solid black; */
  }
  #invoice_no{
    position: absolute;
    left: 105px;
  }

  #invoice-date-form-group{
    position: absolute;
    display: flex;
    align-items: center;
    left: 52%;
  }
  #supplier-form-group{
    position: absolute;
    display: flex;
    align-items: center;
    left: 2%;
    top: 19.3%;
  }
  #new_supplier{
    position: absolute;
    display: flex;
    top: 18%;
    left: 92%;
    border: none;
    background-color: white;
  }
  #suppliers{
    position: absolute;
    left: 105px;
  }


  #protocol-no-date-form-group{
    position: absolute;
    display: flex;
    align-items: center;
    left: 2%;
    top: 26%;
    width: 90%;
    /* border: 1px solid black; */
  }
  #protocol_no{
    position: absolute;
    height: 35px;
    left: 105px;
  }
  #protocol-date-form-group{
    position: absolute;
    display: flex;
    align-items: center;
    left: 30%;
  }
  #fields-form-group{
    position: absolute;
    display: flex;
    align-items: center;
    left: 2%;
    top: 32.8%;
    width: 90%;
    /* border: 1px solid black; */
    text-align: center;
  }
  #fields{
    position: absolute;
    left: 105px;
  }

  #labs-form-group{
    position: absolute;
    display: flex;
    align-items: center;
    left: 2%;
    top: 39.6%;
    width: 90%;
    /* border: 1px solid black; */
    text-align: center;
  }
  #labs{
    position: absolute;
    left: 105px;
  }


  #payment-methods-form-group{
    position: absolute;
    display: flex;
    align-items: center;
    left: 2%;
    top: 46.3%;
    width: 90%;
    /* border: 1px solid black; */
    text-align: center;
  }
  #payment_methods{
    position: absolute;
    left: 105px;
  }

  #cost-label{
    position: absolute;
    display: flex;
    left: 50%;
  }
  #cost{
    position: absolute;
    display: flex;
    left: 57%;
  }
  #field-cost-label{
    position: absolute;
    display: flex;
    left: 74%
  }
  #field_cost{
    position: absolute;
    display: flex;
    left: 88%;
  }

  #materials-form-group {
    position: absolute;
    display: flex;
    align-items: center;
    left: 2%;
    top: 53%;
    width: 90%;
    /* border: 1px solid black; */
    text-align: center;
  }
  #materials{
    position: absolute;
    left: 105px;
  }

  input {
    width: 445px;
    height: 35px;
    padding: 5px;
    border: 1px solid #bbbbbb;
    font-size: 16px;
    border-radius: 4px;
    text-align: center;
  }

  #protocol_viewer{
    width: 49%;
    height: 94%;
    position: absolute;
    left: 51%;
    top: 6%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  #pdf_viewer{
    width: 50%;
    height: 94%;
    position: absolute;
    left: 50%;
    top: 6%;
  }

  #pdf_file{
    width: 100%;
    height: 100%;
  }

  #new_material{
    position: absolute;
    top: 51.5%;
    left: 92%;
    border: none;
    background-color: white;
  }

  #new_supplier:hover, #new_material:hover{
    cursor: pointer;
  }

  #materials_added{
    position: absolute;
    overflow-y: auto;
    left: 15px;
    top: 57%;
  }
  #comments{
    position: absolute;
    overflow-y: auto;
    left: 15px;
    top: 83%;
  }

  #new_added_material_name_label, #new_added_supplier_name_label{
    float: left;
    height: 35px;
    align-content: center;
    text-align: center;
    padding-top: 8px;
    width: 150px;
  }

  #new_added_material_name, #new_added_supplier_name{
    float: left;
    font-size: 13px;
    width: 400px;
    height: 35px;
    border-radius: 4px;
  }

  #new_added_material_type_label{
    float: left;
    height: 35px;
    align-content: center;
    text-align: center;
    padding-top: 8px;
    margin-left: 10px;
    width: 110px;
  }
  #new_added_material_type{
    float: left;
    font-size: 13px;
    width: 200px;
    height: 35px;
    border-radius: 4px;
  }

  #new_added_material_number_label{
    float: left;
    height: 35px;
    margin-left: 15px;
    align-content: center;
    text-align: center;
    padding-top: 8px;
    width: 130px;
  }
  #new_added_material_number{
    float: left;
    font-size: 13px;
    width: 60px;
    height: 35px;
    text-align: center;
    border-radius: 4px;
  }

  #add_new_material, #add_new_supplier{
    float: left;
    height: 35px;
    margin-left: 25px;
    align-content: center;
    text-align: center;
    width: 50px;
    background-color: rgb(56, 166, 56);
    border-radius: 4px;
    border: 1px solid #ffffff00;
    font-weight: bold;
  }

  #add_new_material:hover, #add_new_supplier:hover{
    background-color: rgb(137, 200, 73);
    cursor: pointer;
  }

  #delete_added_material{
    position: absolute;
    top: 77%;
    left: 92%;
    background-color: white;
    border: none;
  }
  #delete_added_material:hover{
    cursor: pointer;
  }


  input[type="submit"] {
    width: 120px;
    height: 40px;
    margin-top: 20px;
    background-color: #5c5f81;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    top: 91.5%;
    left: 2%
  }

  #save{
    width: 120px;
    height: 40px;
    margin-top: 20px;
    background-color: #35b582;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    top: 91.5%;
    left: 2%  
  }
