#supplies_book_labs{
    display: flex;
    position: absolute;
    top: 8%;
    left:1%;
    width: 30%;
    height: 3%;
    padding-top: 0.3%;
    /* border: 1px black solid; */
}
#supplies_book_labs_dropdown{
    position: absolute;
    top: 8%;
    left: 9%;
}
#supplies_book_table{
    position: absolute;
    top: 12%;
    left: 1%;
}